# SPDX-FileCopyrightText: 2024 2024 Nicco Kunzmann and Open Web Calendar Contributors <https://open-web-calendar.quelltext.eu/>
#
# SPDX-License-Identifier: GPL-2.0-only

# see https://docs.docker.com/engine/reference/builder/#dockerignore-file
*.md
vercel.json
tox.ini
venv
test-requirements.*
test
scripts
runtime.txt
__pycache__
*.pyc
Procfile
architecture.svg
app.json
features
constraints.txt
Dockerfile

