# SPDX-FileCopyrightText: 2024 2024 Nicco Kunzmann and Open Web Calendar Contributors <https://open-web-calendar.quelltext.eu/>
#
# SPDX-License-Identifier: GPL-2.0-only

# see https://docs.docker.com/engine/reference/builder/#dockerignore-file
/*
!/open_web_calendar
/open_web_calendar/test
/open_web_calendar/features
!/requirements.txt
!/docker
!/LICENSE
!/LICENSES
!/REUSE.toml
