mkdocs-material
mkdocs-rss-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material[imaging]
mkdocs-markdownextradata-plugin
mkdocs-macros-plugin
mkdocs[i18n]
mkdocs-meta-descriptions-plugin

#mkdocs-mdpo-plugin
git+https://github.com/niccokunzmann/mkdocs-mdpo-plugin.git@patch-1
mkdocs-material-relative-language-selector

mkdocs-exclude
