flask-caching
flask-allowed-hosts
flask
icalendar
requests
requests[socks]
pyyaml
recurring-ical-events
gunicorn
lxml
beautifulsoup4
lxml_html_clean
pytz
icalendar-compatibility>=0.1.3
mergecal>=0.4.2
