/*
 * SPDX-FileCopyrightText: 2025 Nicco Kunzmann and Open Web Calendar Contributors <https://open-web-calendar.quelltext.eu/>
 *
 * SPDX-License-Identifier: GPL-2.0-only
 */

main {
    max-width: 40em;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
    padding: 1em;
}
