<!doctype html>
<html>
    <head>
        <title>Open Web Calendar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/index.css"
            rel="stylesheet" type="text/css" charset="utf-8">
        <script src="js/index.js"></script>
        <script src="js/common.js"></script>
        <script src="configuration.js"></script>
    </head>
    <body>
        <header>
            <h1>Open Web Calendar</h1>
        </header>
        <main>
            <div class="section">
                <p>
                    {{ html("about") }}
                </p>
            </div>
            <div class="section">
                <p>
                    {{ html("calendar-urls") }}
                </p>
                <ul id="calendar-urls">
                </ul>
                <p>
                    <a id="calendar-link"></a>
                    <br/>
                    {{ html("calendar-code") }}
                    <pre id="calendar-code" class="code"></pre>
                    {{ html("calendar-code-execution") }}
                    <div id="calendar-code-execution"></div>
                </p>
            </div>
            <div class="section">
                <p>
                    {{ html("section-customization") }}
                </p>
                <h3>{{ html("title-title") }}</h3>
                <p>
                    {{ html("title-description") }}<br/>
                    <input type="text" id="calendar-title" />
                </p>
                <h3>{{ html("starting-date-title") }}</h3>
                <p>
                    {{ html("starting-date-description") }}<br/>
                    <input type="date" id="starting-date" />
                </p>
                <h3>{{ html("first-hour-title") }}</h3>
                <p>
                    {{ html("first-hour-description") }}<br/>
                    <input type="number" min="0" max="23" id="starting-hour" />
                </p>
                <h3>{{ html("last-hour-title") }}</h3>
                <p>
                    {{ html("last-hour-description") }}<br/>
                    <input type="number" min="1" max="24" id="ending-hour" />
                </p>
                <h3>{{ html("time-increment-title") }}</h3>
                <p>
                    {{ html("time-increment-description") }}
                    <form id="time-increment">
                        <input class="time-increment-input" type="radio" id="time-6" name="time-select" value="6" /><label for="time-10">{{ html("time-increment-10") }}</label>
                        <input class="time-increment-input" type="radio" id="time-4" name="time-select" value="4" /><label for="time-15">{{ html("time-increment-15") }}</label>
                        <input class="time-increment-input" type="radio" id="time-2" name="time-select" value="2" /><label for="time-30">{{ html("time-increment-30") }}</label>
                        <input class="time-increment-input" type="radio" id="time-1" name="time-select" value="1" /><label for="time-60">{{ html("time-increment-60") }}</label>
                    </form>
                </p>
                <h3>{{ html("language-title") }}</h3>
                <p>
                    {{ html("language-description") }}<br/>
                    <select id="select-language"></select>
                </p>
                <h3>{{ html("skins-title") }}</h3>
                <p>
                    {{ html("skins-description") }}<br/>
                    <!-- see the skins at the static/css/dhtmlx folder -->
                    <select id="select-skin">
                        <option value="dhtmlxscheduler.css">{{ html("skins-terrace") }}</option>
                        <option value="dhtmlxscheduler_material.css">{{ html("skins-material") }}</option>
                        <option value="dhtmlxscheduler_flat.css">{{ html("skins-flat") }}</option>
                        <option value="dhtmlxscheduler_contrast_black.css">{{ html("skins-contrast-black") }}</option>
                        <option value="dhtmlxscheduler_contrast_white.css">{{ html("skins-contrast-white") }}</option>
                    </select>
                </p>
                <h3>{{ html("links-title") }}</h3>
                <p>
                    {{ html("links-description") }}<br/>
                    <select id="select-target">
                        <option value="_self">{{ html("links-self") }}</option>
                        <option value="_parent">{{ html("links-parent") }}</option>
                        <option value="_blank">{{ html("links-blank") }}</option>
                        <option value="_top">{{ html("links-top") }}</option>
                    </select>
                </p>
                <h3>{{ html("start-of-week-title") }}</h3>
                <p>
                    {{ html("start-of-week-description") }}<br/>
                    <select id="select-start-of-week">
                        <option value="mo">{{ html("start-of-week-mo") }}</option>
                        <option value="su">{{ html("start-of-week-su") }}</option>
                    </select>
                </p>
                <h3 id="style">Custom Style with CSS</h3>
                <p>
                  You can change the color of your calendar and many more
                  properties using CSS.
                  Your customization has priority over the Skin you choose.
                  Below, you can choose from a few customizations we prepared
                  for you.
                </p>
                <ul>
                  <li>
                    <input type="text"
                           placeholder="white" class="color-input"
                           cssTemplate=".dhx_cal_navline, .dhx_scale_bar, .dhx_cal_container, .dhx_cal_header {background-color: {color};}">
                    You can change the background color of the calendar.
                  </li>
                  <li>
                    <input type="text"
                           placeholder="blue" class="color-input"
                           cssTemplate=".event, .dhx_cal_tab.active, .dhx_cal_tab.active:hover {background-color: {color};} .dhx_month_head, .dhx_cal_tab, .dhx_cal_today_button {color: {color};} .dhx_cal_tab, .dhx_cal_tab.active {border-color: {color};}">
                    You can change the color of the elements which can be
                    clicked.
                  </li>
                  <li>
                    <input type="text" id="color-background-today"
                           placeholder="green" class="color-input"
                           cssTemplate=".dhx_scale_holder_now, .dhx_now .dhx_month_head, .dhx_now .dhx_month_body { background-color: {color};}">
                    You can change the background color of the current date.
                  </li>
                  <li>
                    <input type="text" id="color-background-today"
                           placeholder="black" class="color-input"
                           cssTemplate=".dhx_month_body, .dhx_month_head, .dhx_cal_container { background-color: {color}; }">
                    If you like to have a different color for the days, you can
                    specify this, too.
                  </li>
                  <li>
                    <input type="text" id="color-background-today"
                           placeholder="black" class="color-input"
                           cssTemplate=".dhx_after .dhx_month_body, .dhx_before .dhx_month_body, .dhx_after .dhx_month_head, .dhx_before .dhx_month_head { background-color: {color}; }">
                    Some days of the calendar have a different color if they are
                    not within the month.
                  </li>
                </ul>
                <p>
                    You can specify your own CSS properties if you like.
                    <textarea id="css-input"></textarea>
                </p>
                <h3 id="loader">Loading Animation</h3>
                <p>
                  In some cases, the server takes quite a time to load the calendar.
                  In case the server uses a free plan on Heroku, the server needs to start first.<br/>
                  <select id="select-loader">
                      <option value="" id="default-loader">circular loader</option>
                      <option value="">no loader</option>
                  </select>
                </p>
                <h3 id="tabs">Month, Week, Day and Agenda View</h3>
                <p>
                  The Month view is the default. However, you can choose to
                  show a different view in the beginning.
                  Choose one:
                  <select id="select-tab">
                      <option value="month">Month</option>
                      <option value="week">Week</option>
                      <option value="day">Day</option>
                      <option value="agenda">Agenda</option>
                  </select>
                </p>
                <p>
                  It might be that you do not want to show all controls for
                  the users to see. Choose here which controls you would
                  like to display:
                  <form id="check-controls">
                    <input type="checkbox" class="tabs" value="month" /><label for="month" >Month</label>
                    <input type="checkbox" class="tabs" value="week"  /><label for="week"  >Week</label>
                    <input type="checkbox" class="tabs" value="day"   /><label for="day"   >Day</label>
                    <input type="checkbox" class="tabs" value="agenda"/><label for="agenda">Agenda</label>
                    <input type="checkbox" class="controls" value="next"    /><label for="next"    >Next</label>
                    <input type="checkbox" class="controls" value="previous"/><label for="previous">Previous</label>
                    <input type="checkbox" class="controls" value="today"   /><label for="today"   >Today</label>
                    <input type="checkbox" class="controls" value="date"    /><label for="date"    >Date</label>
                  </form>
                </p>
                <h3 id="tabs">Time Zone</h3>
                <p>
                  The timezone is taken from the browser of the user.
                  If you want your calendar to be fixed in one timezone,
                  you have the option below. Your browser uses the time zone
                  <span id="timezone-info">loading...</span>.
                  <select id="select-timezone">
                      <option value="">use the timezone of the browser</option>
                  </select>
                </p>
                <h3 id="specification">Hosting the Specification</h3>
                <p>
                    The calendar can be generated not only using the url but
                    also through a JSON or YAML specification which resides in a file.
                    The customization from above generates this specification:
                    <pre class="code" id="json-specification"></pre>
                    You can <a href="javascript:downloadJSONSpecification()"
                    >download this specification</a>
                    and place it somewhere on the web.
                    This way you are still in control over the customization
                    of the calendar after you shared the link, e.g. on GitHub
                    in a <a href="https://gist.github.com/">Gist</a>.
                    Once you have placed the specification somewhere online,
                    you can create a link like this one
                    <a id="example-specification-link" target="_blank"></a>.
                </p>
            </div>
        </main>
        <footer>
            The open web calendar is open-source.
            You can contribute and view the source code on
            <a href="https://github.com/niccokunzmann/open-web-calendar"
               >GitHub</a>.
        </footer>
    </body>
</html>
