<!doctype html>
<html>
    <!-- Mostly copied from https://docs.dhtmlx.com/scheduler/howtostart_nodejs.html#step2addingschedulertothepage -->
    <head>
        <title>{{ specification["title"] | safe }}</title>
        <meta charset="utf-8">
        <script type="text/javascript">
            var specification = {{ specification | tojson | safe }};
        </script>
        <!-- scheduler -->
        <script src="js/dhtmlx/dhtmlxscheduler.js"
            charset="utf-8"></script>
        <script src="js/dhtmlx/dhtmlxscheduler_recurring.js"
            charset="utf-8"></script>
        <script src="js/dhtmlx/dhtmlxscheduler_multisource.js"
            charset="utf-8"></script>
        <script src="js/dhtmlx/dhtmlxscheduler_tooltip.js"
            charset="utf-8"></script>
        <script src="js/dhtmlx/dhtmlxscheduler_quick_info.js"
            charset="utf-8"></script>
        <!-- agenda view documentation: https://docs.dhtmlx.com/scheduler/agenda_view.html -->
        <script src="js/dhtmlx/dhtmlxscheduler_agenda_view.js"
            charset="utf-8"></script>
        <script src="js/configure.js"
            charset="utf-8"></script>
        <link href="css/dhtmlx/{{ specification['skin'] }}"
            rel="stylesheet" type="text/css" charset="utf-8">
        <link href="css/dhtmlx/style.css"
            rel="stylesheet" type="text/css" charset="utf-8">
        <!-- see https://docs.dhtmlx.com/scheduler/localization.html -->
        <script src="js/dhtmlx/locale/locale_{{ specification['language'] | safe }}.js" charset="utf-8"></script>
        <style>
            html, body{
                margin:0px;
                padding:0px;
                height:100%;
                overflow:hidden;
            }
            {{ specification['css'] | safe }}
        </style>
    </head>
    <body>
        <div id="scheduler_here" class="dhx_cal_container"
            style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                {%- if "previous" in specification["controls"] -%}
                <div class="dhx_cal_prev_button">&nbsp;</div>
                {%- endif -%}
                {%- if "next" in specification["controls"] -%}
                <div class="dhx_cal_next_button">&nbsp;</div>
                {%- endif -%}
                {%- if "today" in specification["controls"] -%}
                <div class="dhx_cal_today_button"></div>
                {%- endif -%}
                {%- if "date" in specification["controls"] -%}
                <div class="dhx_cal_date"></div>
                {%- endif -%}
                {%- if "day" in specification["tabs"] -%}
                <div class="dhx_cal_tab" name="day_tab"></div>
                {%- endif -%}
                {%- if "week" in specification["tabs"] -%}
                <div class="dhx_cal_tab" name="week_tab"></div>
                {%- endif -%}
                {%- if "month" in specification["tabs"] -%}
                <div class="dhx_cal_tab" name="month_tab"></div>
                {%- endif -%}
                {%- if "agenda" in specification["tabs"] -%}
                <div class="dhx_cal_tab" name="agenda_tab" id="agenda_tab"></div>
                {%- endif -%}
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
        <div id="loader" class="fullsize"></div>
        <div id="errorWindow" class="hidden fullsize">
            <a class="closeButton" href="javascript:toggleErrorWindow();">X</a>
        </div>
        <div class="status-window">
            <a class="item" id="errorStatusIcon" href="javascript:toggleErrorWindow();">!</a>
            <a class="item" id="infoIcon" href="/about.html{{ get_query_string() | safe }}" target="{{ specification['target'] }}">?</a>
        </div>
    </body>
</html>
